.ant-pro-layout .ant-pro-layout-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  position: relative;
  padding: 0 !important;
}

.ant-pro-layout .ant-layout-header.ant-pro-layout-header-fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101 !important;
  right: 0;
  background-color: white;
}
